Repository ProdigyPNP/ProdigyMathGameHacking, pull requests merged in 2022-05, with the labels that each got.

#26 Redesign Cheat GUI: Part 1
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/index.ts
  cheatGUI/src/style.scss
Labels: Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#27 Redesign Cheat GUI: Part 1.x1
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/misc.ts
  cheatGUI/src/style.scss
Labels: Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#28 Redesign Cheat GUI: Part 1.x2
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/hacks/minigame.ts
  cheatGUI/src/hacks/misc.ts
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/hacks/utility.ts
  cheatGUI/src/index.ts
  cheatGUI/src/style.scss
  cheatGUI/src/utils/keybinds.ts
Labels: Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#30 Redesign Cheat GUI: Part 1.x3
  cheatGUI/dist/bundle.js
  cheatGUI/package-lock.json
  cheatGUI/package.json
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/index.ts
  cheatGUI/src/style.scss
Labels: Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#31 CheatGUI was published to npm.
  README.md
  cheatGUI/README.md
  cheatGUI/package-lock.json
  cheatGUI/package.json
Labels: Priority: Medium, Category: Cheat GUI, Official

#33 Fix info abt license, also add quick kit.
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/utils/keybinds.ts
Labels: Is: Bug, Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#34 Implement Status Message
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/statusmessage.json
Labels: Is: Enhancement, Priority: Medium, Category: Cheat GUI, Official

#36 Add returns and more if branches (Internal)
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/beta.ts
  cheatGUI/src/hacks/inventory.ts
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/hacks/misc.ts
  cheatGUI/src/hacks/patched.ts
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/hacks/utility.ts
  cheatGUI/src/utils/swal.ts
Labels: Is: Enhancement, Priority: Low, Category: Cheat GUI, Official

#37 Code Formatting (Internal)
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/beta.ts
  cheatGUI/src/hacks/inventory.ts
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/index.ts
  cheatGUI/src/utils/hackify.ts
Labels: Is: Enhancement, Priority: Low, Category: Cheat GUI, Official

#38 Update deps + make a note in the sh script
  PHEx/build.sh
  PHEx/package-lock.json
  cheatGUI/package-lock.json
Labels: Priority: Medium, dependencies, Category: Cheat GUI, Category: PHEx, Official

#39 HOTFIX FOR HACKS
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/patched.ts
  cheatGUI/src/index.ts
Labels: Is: Bug, Priority: High, Category: Cheat GUI, Official

#40 Part 1: Fix status Messages
  cheatGUI/dist/bundle.js
  cheatGUI/src/index.ts
  cheatGUI/src/utils/hackify.ts
Labels: Priority: Medium, Category: Cheat GUI, Official

#42 License Popup!
  cheatGUI/dist/bundle.js
  cheatGUI/package-lock.json
  cheatGUI/src/index.ts
  cheatGUI/src/utils/hackify.ts
  cheatGUI/src/utils/swal.ts
Labels: Priority: High, Category: Cheat GUI, Official

#45 i dont have write aces
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/pets.ts
Labels: Is: Enhancement, Priority: Low, Category: Cheat GUI, Official

#46 Re-add the bundle
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/pets.ts
Labels: Priority: High, Category: Cheat GUI, Official

#49 ImgBot: Optimize images
  .github/PTB.png
  .github/fixedlogo.png
  .github/plainlogo.png
  PHEx/src/assets/x128.png
  PHEx/src/assets/x48.png
  cheatGUI/src/assets/academy.png
  cheatGUI/src/assets/archives.png
  cheatGUI/src/assets/bonfire_spire.png
  cheatGUI/src/assets/crystal_caverns.png
  cheatGUI/src/assets/darktower.png
  cheatGUI/src/assets/dyno.png
  cheatGUI/src/assets/earthtower.png
  cheatGUI/src/assets/elemental_guardian.png
  cheatGUI/src/assets/forest.png
  cheatGUI/src/assets/house.png
  cheatGUI/src/assets/lamplight.png
  cheatGUI/src/assets/shipwreck_shore.png
  cheatGUI/src/assets/shiverchill.png
  cheatGUI/src/assets/skywatch.png
  cheatGUI/src/assets/tower_town.png
  cheatGUI/src/assets/toyzone.png
Labels: Is: Enhancement, Priority: Low, Category: Cheat GUI, Category: Meta, Official
