Repository ProdigyPNP/ProdigyMathGameHacking, pull requests merged in 2022-08, with the labels that each got.

#127 Add Privacy Policy
  .github/CONTRIBUTING.md
  meta/PRIVACY_POLICY.md
Labels: Priority: Medium, Category: Meta, Official

#53 !!! PHEx Mv3 (Awaiting review and final touches)
  .vscode/settings.json
  PHEx/build.js
  PHEx/build/extension.crx
  PHEx/build/extension.xpi
  PHEx/build/extension.zip
  PHEx/src/background.js
  PHEx/src/block.json
  PHEx/src/disableIntegrity.js
  PHEx/src/manifest.json
  PHEx/src/popup.js
  README.md
Labels: Priority: High, Category: PHEx, Official

#130 [Meta] Add webstore tutorials
  README.md
  meta/CONTRIBUTORS.md
  meta/webstores/BRAVE.md
  meta/webstores/CHROME.md
  meta/webstores/EDGE.md
  meta/webstores/FIREFOX.md
  meta/webstores/OPERA.md
  meta/webstores/OPERA_CRYPTO.md
  meta/webstores/OPERA_GX.md
Labels: Priority: Medium, Category: Meta

#142 [Hack] Get UserID of all players on screen
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/utility.ts
  cheatGUI/src/utils/util.ts
Labels: Priority: Medium, Category: Cheat GUI
