Repository ProdigyPNP/ProdigyMathGameHacking, pull requests merged in 2022-09, with the labels that each got.

#138 [Hack] WASD movement
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/utils/keybinds.ts
  cheatGUI/src/utils/wasd.ts
Labels: Priority: Medium, Category: Cheat GUI

#158 Disable Collision
  cheatGUI/dist/bundle.js
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/hacks/utility.ts
Labels: Priority: Medium, Category: Cheat GUI

#157 ProdigyPNP Chat
  cheatGUI/dist/bundle.js
  cheatGUI/src/class/Hack.ts
  cheatGUI/src/class/Toggler.ts
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/beta.ts
  cheatGUI/src/hacks/inventory.ts
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/hacks/minigame.ts
  cheatGUI/src/hacks/misc.ts
  cheatGUI/src/hacks/patched.ts
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/hacks/utility.ts
  cheatGUI/src/index.ts
  cheatGUI/src/style.scss
  cheatGUI/src/utils/chat.ts
  cheatGUI/src/utils/log.ts
Labels: Is: Enhancement, Priority: High, Category: Cheat GUI, Official

#173 REVERT CHEATGUI HOTFIX
  cheatGUI/dist/bundle.js
  cheatGUI/src/class/Hack.ts
  cheatGUI/src/hacks/battle.ts
  cheatGUI/src/hacks/beta.ts
  cheatGUI/src/hacks/inventory.ts
  cheatGUI/src/hacks/location.ts
  cheatGUI/src/hacks/minigame.ts
  cheatGUI/src/hacks/misc.ts
  cheatGUI/src/hacks/patched.ts
  cheatGUI/src/hacks/pets.ts
  cheatGUI/src/hacks/player.ts
  cheatGUI/src/hacks/utility.ts
  cheatGUI/src/utils/hackify.ts
  cheatGUI/src/utils/keybinds.ts
  cheatGUI/src/utils/popupCloser.ts
  cheatGUI/src/utils/util.ts
  cheatGUI/statusmessage.json
Labels: Priority: High, Category: Cheat GUI
